

{% extends 'base.html.twig' %}



<form method="post" action="send-mail.php" class="contact-form" id="form">
								<div class="row">
									<div class="col-md-12">
										<input type="text" name="name" placeholder="Insérez votre nom" class="required">
									</div>
									<div class="col-md-12">
										<input type="email" name="email" placeholder="Insérez votre adresse email" class="contact-form-email required">
									</div>
									<div class="col-md-12">
										<input type="text" name="subject" placeholder="Votre sujet" class="contact-form-subject required">
									</div>
								</div>
								<textarea name="message" placeholder="Insérez votre message" class="required" rows="7"></textarea>
								<div class="response-message"></div>
								<button class="border-button border-bt-red" type="submit" id="submit" name="submit">Envoyer Message</button>
							</form>